body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #f0f0f0;
	font-family: 'Microsoft Yahei';
	font-size: 16px;
}
a,em,span,i,s {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #9e9e9e;
	text-decoration: none;
	outline: none;
}

.recom {
	min-width: 1000px;
	background: url(/static/images/bg.gif) no-repeat center top;
	height: 332px;
	position: relative;
	top: 68px;
}
