body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	background-color: #f4f2ee;
	color: #666;
}

div {
	display: block;
}

.logo {
	width: 230px;
	height: 169px;
	margin: 30px auto 0;
	background: url(/static/images/loginlogo.png) no-repeat center top;
}

.login {
	width: 320px;
	height: 150px;
	background-color: #fff;
	border: #cbcbcb solid 1px;
	border-radius: 2px;
	margin: 50px auto 0;
}

.login .row,
.login .row1 {
	width: 320px;
	height: 50px;
	line-height: 50px;
	padding-left: 12px;
}

.login div input {
	height: 48px;
	width: 180px;
	border: 0;
	outline: none;
	background: none;
	font-size: 14px;
	display: inline-block;
}

.login .row1 {
	width: 308px;
	height: 48px;
	border-top: #cbcbcb solid 1px;
	border-bottom: #cbcbcb solid 1px;
}

.sub {
	outline: none;
	background: #ff7200;
	font-size: 18px;
	color: #fff;
	height: 50px;
	width: 320px;
	border-radius: 2px;
	margin: 30px auto 0;
	position: relative;
	left: 40.82%;
}
