body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	background-color: #f4f2ee;
	color: #666;
}

div {
	display: block;
}

.logo {
	width: 230px;
	height: 169px;
	margin: 30px auto 0;
	background: url(/static/images/loginlogo.png) no-repeat center top;
}
